<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TempFolderPath" value="./Temp/" />
    <add key="EmailReceipts" value="wg38710@imcap.ap.ssmb.com;hanpeng.wang@citi.com;killjaeden@gmail.com"/>
    <!--Scheduler Settings-->
    <add key="SchedulerBaseInterval" value="1000" />
    <!--in millisecond-->
    <add key="Frequency" value="repeatly" />
    <!--Options="none,repeatly, minutely, hourly, daily, monthly-->
    <add key="FrequencyValue" value="yyyy/MM/dd/hh:01:30.000" />
    <add key="Skip" value="dayofweek" />
    <add key="SkipValue" value="Sun" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ReportList" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin/CefSharp" />
    </assemblyBinding>
  </runtime>
</configuration>